.funds_top{width:100%;height: 110px;background-color: #4385f5;background: url(../img/funds_bg.jpg) no-repeat center;
   background-size: 100% 100%;box-sizing: border-box;padding-left: 20px;}
.funds_top span{color:#f8f8f6;font-size: 13px;}
.funds_top p{color:#fff;font-size: 20px;margin-top: 10px;}
.funds_list a{display: block;height:45px;border-bottom: 1px solid #e7e7e7;position: relative;box-sizing: border-box;
   padding-left: 40px;line-height: 45px;font-size: 13px;color:#333;background-color: #fff;}
.funds_list a img{position: absolute;left:10px;top:15px}
.funds_list a span{display: inline-block;position: absolute;right:10px;top:16px;width:10px;height: 12px;
   background: url(../img/icon_arrow_right.png) no-repeat center;}
